<main>
  <header>
    <nav>
      <div class="logo"><span>Edu</span></div>
      <div>
        <ul>
          <li>Teachers</li>
          <li>Courses</li>
          <li>Scholarship</li>
          <li>Pricing</li>
          <li>About Us</li>
        </ul>
      </div>
      <div class="auth">
        <span>Sign In</span>
        <button>Sign Up</button>
      </div>
    </nav>
  </header>
  <section class="section-one">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="info">Best E-learning platform</div>
          <div class="main_test">
            <p>Getting Best</p>
            <p>Quality Education</p>
            <p>is now more easier</p>
          </div>
          <p class="lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odio
            nobis repellendus. Inventore ad magnam ducimus neque enim ea esse?
          </p>
          <div class="btn-container">
            <div class="btn btn-primary home_btn">Join Course</div>
          </div>
        </div>
        <div class="col-4">
          <img class="img-background" src="../../assets/img-background.png" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section class="section-two">
    <div class="stats_container">
      <div>
        <div class="span_container">
          <span class="fig">8k+</span>
          <span class="fig_exp">Success Stories</span>
        </div>
      </div>

      <div>
        <div class="span_container">
          <div class="vertical-bar"></div>
        </div>
      </div>
      <div>
        <div class="span_container">
          <span class="fig">200+</span>
          <span class="fig_exp">Expert Instructors</span>
        </div>
      </div>
      <div>
        <div class="span_container">
          <div class="vertical-bar"></div>
        </div>
      </div>
      <div>
        <div class="span_container">
          <span class="fig">108k+</span>
          <span class="fig_exp">Worldwide Students</span>
        </div>
      </div>
      <div>
        <div class="span_container">
          <div class="vertical-bar"></div>
        </div>
      </div>
      <div>
        <div class="span_container">
          <span class="fig">310+</span>
          <span class="fig_exp">Trendy Subjects</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-three">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="section-three-main-test">
            <p>Why we are the best</p>
            <p>from others?</p>
          </div>
          <div class="section-three-content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
              odio nobis repellendus. Inventore ad magnam ducimus neque enim ea
              esse?
            </p>
          </div>
          <div class="btn-container">
            <div class="btn btn-primary home_btn">Start now</div>
          </div>
        </div>
        <div class="col-7">
          <div class="card-container">
            <div
              class="card shadow p-3 mb-5 bg-white rounded"
              style="width: 18rem"
            >
              <div class="card-body">
                <div class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="50"
                    fill="#9848ff"
                    class="bi bi-messenger"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"
                    />
                  </svg>
                </div>
                <h5 class="card-title">Best Tutors</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae distinctio quam quia,
                </p>
              </div>
            </div>
            <div
              class="card shadow p-3 mb-5 bg-white rounded"
              style="width: 18rem"
            >
              <div class="card-body">
                <div class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="50"
                    fill="#a7ce4a"
                    class="bi bi-book-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
                    />
                  </svg>
                </div>
                <h5 class="card-title">Best Curriculum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae distinctio quam quia,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-four">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card-container">
            <div
              class="card shadow p-3 mb-5 bg-white rounded"
              style="width: 18rem"
            >
              <div class="card-body">
                <div class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="50"
                    fill="#4e95df"
                    class="bi bi-patch-check-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"
                    />
                  </svg>
                </div>
                <h5 class="card-title">Certificate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae distinctio quam quia,
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card-container">
            <div
              class="card shadow p-3 mb-5 bg-white rounded"
              style="width: 18rem"
            >
              <div class="card-body">
                <div class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="50"
                    fill="#ff60a8"
                    class="bi bi-award-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"
                    />
                    <path
                      d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"
                    />
                  </svg>
                </div>
                <h5 class="card-title">Best Price</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae distinctio quam quia,
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card-container">
            <div
              class="card shadow p-3 mb-5 bg-white rounded"
              style="width: 18rem"
            >
              <div class="card-body">
                <div class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="50"
                    fill="#f66742"
                    class="bi bi-browser-edge"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M9.482 9.341c-.069.062-.17.153-.17.309 0 .162.107.325.3.456.877.613 2.521.54 2.592.538h.002c.667 0 1.32-.18 1.894-.519A3.838 3.838 0 0 0 16 6.819c.018-1.316-.44-2.218-.666-2.664l-.04-.08C13.963 1.487 11.106 0 8 0A8 8 0 0 0 .473 5.29C1.488 4.048 3.183 3.262 5 3.262c2.83 0 5.01 1.885 5.01 4.797h-.004v.002c0 .338-.168.832-.487 1.244l.006-.006a.594.594 0 0 1-.043.041Z"
                    />
                    <path
                      d="M.01 7.753a8.137 8.137 0 0 0 .753 3.641 8 8 0 0 0 6.495 4.564 5.21 5.21 0 0 1-.785-.377h-.01l-.12-.075a5.45 5.45 0 0 1-1.56-1.463A5.543 5.543 0 0 1 6.81 5.8l.01-.004.025-.012c.208-.098.62-.292 1.167-.285.129.001.257.012.384.033a4.037 4.037 0 0 0-.993-.698l-.01-.005C6.348 4.282 5.199 4.263 5 4.263c-2.44 0-4.824 1.634-4.99 3.49Zm10.263 7.912c.088-.027.177-.054.265-.084-.102.032-.204.06-.307.086l.042-.002Z"
                    />
                    <path
                      d="M10.228 15.667a5.21 5.21 0 0 0 .303-.086l.082-.025a8.019 8.019 0 0 0 4.162-3.3.25.25 0 0 0-.331-.35c-.215.112-.436.21-.663.294a6.367 6.367 0 0 1-2.243.4c-2.957 0-5.532-2.031-5.532-4.644.002-.135.017-.268.046-.399a4.543 4.543 0 0 0-.46 5.898l.003.005c.315.441.707.821 1.158 1.121h.003l.144.09c.877.55 1.721 1.078 3.328.996Z"
                    />
                  </svg>
                </div>
                <h5 class="card-title">Creative Thinking</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae distinctio quam quia,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer></footer>
</main>
