<main>
  <header>
    <nav>
      <div class="logo"><span>Edu</span></div>
      <div>
        <ul>
          <li>Teachers</li>
          <li>Courses</li>
          <li>Scholarship</li>
          <li>Pricing</li>
          <li>About Us</li>
        </ul>
      </div>
      <div class="auth">
        <span>Sign In</span>
        <button>Sign Up</button>
      </div>
    </nav>
  </header>
  <section class="section-one">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="info">Best E-learning platform</div>
          <div class="main_test">
            <p>Getting Best</p>
            <p>Quality Education</p>
            <p>is now more easier</p>
          </div>
          <p class="lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odio
            nobis repellendus. Inventore ad magnam ducimus neque enim ea esse?
          </p>
          <div class="btn-container">
            <div class="btn btn-primary home_btn">Join Course</div>
          </div>
        </div>
        <div class="col-4">col-4</div>
      </div>
    </div>
  </section>

  <section class="section-two">
    <div class="stats_container">
      <div>
        <div class="span_container">
          <span class="fig">8k+</span>
          <span class="fig_exp">Success Stories</span>
        </div>
      </div>

      <div>
        <div class="span_container">
          <div class="vertical-bar"></div>
        </div>
      </div>
      <div>
        <div class="span_container">
          <span class="fig">200+</span>
          <span class="fig_exp">Expert Instructors</span>
        </div>
      </div>
      <div>
        <div class="span_container">
          <div class="vertical-bar"></div>
        </div>
      </div>
      <div>
        <div class="span_container">
          <span class="fig">108k+</span>
          <span class="fig_exp">Worldwide Students</span>
        </div>
      </div>
      <div>
        <div class="span_container">
          <div class="vertical-bar"></div>
        </div>
      </div>
      <div>
        <div class="span_container">
          <span class="fig">310+</span>
          <span class="fig_exp">Trendy Subjects</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-three">
    <div class="container">
      <div class="row">
        <div class="col-4">col-4</div>
        <div class="col-4">col-4</div>
        <div class="col-4">col-4</div>
      </div>
    </div>
  </section>

  <section class="section-four"></section>
  <footer></footer>
</main>
