nav {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;

  font-size: 16px;

  ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.1em;

    li {
      list-style-type: none;
      padding-left: 2em;
      padding-right: 2em;
      color: #646875;
      cursor: pointer;
    }
  }

  .auth {
    span {
      margin-right: 1em;
      color: #091223;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
    }

    button {
      padding-left: 1em;
      padding-right: 1em;
      background-color: #ffcf59;
      border-radius: 16px;
      font-size: 14px;
    }
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    span {
      color: #142030;
    }
  }

  .logo::after {
    content: "cate";
    color: #4b58e0;
  }
}

.section-one {
  margin-top: 3.5em;

  .container {
    padding-left: 0;

    .img-background {
      width: 100%;
      height: 100%;
    }
    .info {
      color: #6772e3;
    }

    .lorem {
      margin-top: 1.5em;
      color: #bcc0c8;
      width: 70%;
    }

    .main_test {
      margin-top: 0.3em;
      font-size: 3em;
      line-height: 0.9;
      font-weight: bold;
      text-transform: capitalize;
    }

    .btn-container {
      margin-top: 2em;

      .home_btn {
        background-color: #ffcf59;
        border: none;
        color: #000933;
        padding-left: 2em;
        padding-right: 2em;
        border-radius: 16px;
      }
    }
  }
}

.section-two {
  margin-top: 3em;
  background-color: #525fe1;
  height: 150px;
  .stats_container {
    width: 90%;
    margin: auto;
    display: flex;
    height: 100%;
    justify-content: space-between;

    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .span_container {
      display: flex;
      flex-direction: column;
      text-align: center;

      .vertical-bar {
        width: 2px;
        height: 60px;
        background-color: #ffffff;
      }

      .fig {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 10px;
        color: #ffffff;
      }

      .fig_exp {
        color: #ffffff;
      }
    }
  }
}

.section-three{
  margin-top: 4em;

  .container{
    padding-left: 0;

    .section-three-main-test{
      margin-top: 0.3em;
      font-size: 2.5em;
      line-height: 0.7;
      font-weight: bold;
      color:#202c3b;
    }

    .btn-container {
      margin-top: 2em;

      .home_btn {
        background-color: #ffcf59;
        border: none;
        color: #000933;
        padding-left: 2em;
        padding-right: 2em;
        border-radius: 16px;
      }
    }

    .section-three-content{
      margin-top: 1.5em;
      color: #bcc0c8;
      width: 90%;
    }

    .card-container{

      display: flex;
      justify-content: space-evenly;

      .card{
        border: none;
      }

      .card-title{
        color:#1b2837;
        font-weight: bold;
        font-size: 1.2em;

      }

      .card-text{
        color:#b5b7be
      }
    }
  }
}

.section-four{
  margin-top: 1em;

  .container{
    width: 80%;
    margin:auto;
    .card-container{

      display: flex;
      justify-content: space-evenly;

      .card{
        border: none;
      }

      .card-title{
        color:#1b2837;
        font-weight: bold;
        font-size: 1.2em;

      }

      .card-text{
        color:#b5b7be
      }
    }
  }

}


// general styles 

.svg-container{
  margin-bottom: 1em;
}
